.main-card-custom{
  height: 700px;
  width: 32%;

}

.price{
  font-size: 24px;
  font-weight: 600;

}
.card-body-custom{
  position: relative;
}
.btn-span{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: -15px;
}

.btn-span link button{
  width: 40%;
  padding: 7px 10px;
}
.input-custom{
  width: 97%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}

.input-container-custom{
  padding: 80px 0 20px 0;
}

